@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Poppins&family=Ubuntu:wght@300;400;500;700&display=swap');

$color-main-light: white;
$color-main-dark: black;

$color-secondary-light: rgba(200,200,200,1);
$color-secondary-dark: rgba(35,35,35,1);

$color-bg-light: rgba(200,200,200,0.8);
$color-bg-lighter: #f5f5f5;
$color-bg-dark: rgba(50,50,60,1);
$color-bg-dark-transparent: rgba(50,50,60,0.9);

$color-accent: rgb(50, 144, 199);

$font-serif: Ubuntu, serif;
$font-sans: Poppins, sans-serif;
