.buttonsWrapper {
    padding: 2rem 0;

    .buttons {
        justify-content: center;
        max-width: 896px;
        margin: 0 auto;
        display: flex;
        flex-flow: row nowrap;
        gap: 1.5rem;

        .button {
            font-family: $font-sans;
            text-align: center;
            padding: 0.25rem 0.5rem;
            font-size: 1.1rem;
            border: none;
            color: $color-main-light;
            background-color: $color-accent;
            border-radius: 6px;
            padding: 0.5rem 1.5rem;
            transition: color 0.25s;
        
            &:hover {
                color: rgb(152, 201, 230);
                transition: color 0.25s;

            }
        }
    }

}