.contact {
    padding: 4rem 0;
    background-color: $color-bg-dark;

    a, p {
        color: $color-main-light;
        transition: color 0.25s;
    }
    
    a:hover {
        color: rgb(152, 201, 230);
    
        p {
            color: $color-accent;
        }
    }
    
    .icon {
        font-size: 1rem;
    
        @include sizeTablet {
            font-size: 1.2rem;
        }
    }

}

.phone, .mail, .contactSocial, .address {
    // flex-basis: 20%;
    list-style-type: none;
    // min-width: 100px;
    margin: 0.75rem 0 0 0;

    @include sizeDesktop {
        margin: 0;
    }

    a {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        p {
            font-size: 1rem;

            @include sizeTablet {
                font-size: 1.25rem;
            }
        }
    }

    p {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        font-size: 1rem;

        @include sizeTablet {
            font-size: 1.25rem;
        }
    }
}


.contact {
    li {
        list-style-type: none;
    }

    .upperList {
        display: block;

        @include sizeDesktop {
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
        }

        .phone, .mail, .contactSocial, .address {
            // flex-basis: 20%;
            list-style-type: none;
            // min-width: 100px;
            margin: 0.75rem 0 0 0;

            @include sizeDesktop {
                margin: 0;
            }

            a {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                p {
                    font-size: 1rem;

                    @include sizeTablet {
                        font-size: 1.25rem;
                    }
                }
            }

            p {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                font-size: 1rem;

                @include sizeTablet {
                    font-size: 1.25rem;
                }
            }
        }

        .contactSocial {
            ul {
                padding: 0;
                margin: 0;
                display: flex;
                flex-flow: row nowrap;
                gap: 1.5rem;
    
                li {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                }
            }
            
        }
    }
}   