.navBarWrapper {
    background-color: rgba(50, 50, 60, 0.9);
    width: 100%;
    position: fixed;
    border-bottom: 1px solid rgba(50, 144, 199, 0.5);
    z-index: 100;

    .navBar {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 1200px;
        margin: 0 auto;
        padding: 1rem 0;
        

        ul {
            padding: 0;
            margin: 0;
            display: flex;
            flex-flow: row nowrap;
            gap: 1.5rem;

            li {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
        }

        .navBarSubMenu {
            display: none;
        }
    }
    
    a, p {
        color: $color-main-light;
        transition: color 0.25s;
    }
    
    a:hover {
        color: rgb(152, 201, 230);
    
        p {
            color: $color-accent;
        }
    }
    
    .icon {
        font-size: 1rem;
    
        @include sizeTablet {
            font-size: 1.2rem;
        }
    }
}



    .resumeDownload {
        background-color: $color-accent;
        border-radius: 6px;
        padding: 0.25rem 0.6rem;
        //border: 1px solid rgba($color-accent, 0.6);
    }