.paragraphWrapper {
    padding-bottom: 2rem;
    padding: 0 3% 2rem 3%;
    
    .paragraph {
        margin: 0 auto;
        max-width: 896px;

        p {
            margin-top: 1rem;
        }
    }
}