.projectsWrapper {
    padding: 4rem 1rem;
    background-color: $color-bg-lighter;

    .projects {
    
        .projectItems {
            display: block;     
            
            

            @include sizeTablet {
                margin: 0 auto;
                max-width: 800px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 2rem;
            }
    
            @include sizeDesktop {
                max-width: 1200px;
                grid-template-columns: 1fr 1fr 1fr;
                // overflow: hidden;

                img {
                justify-self: right;
                }
            }
        }
    }
}