.singleTech {
    margin: 0 0;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
    p {
        font-size: 0.75rem;
    }
    span {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        
        img, svg {
            flex-grow: 1;
            max-width: 100px;
            max-height: 50px;
            height: 100%;
            width: 100%;        
            transition: background-color 0.4s;
        }
    }
}