.textAndImageWrapper {
    // background-color: #aaa;
    
    .textAndImage {
        margin: 0 auto;
        margin-bottom: 80px;
        max-width: 896px;
        display: flex;
        flex-flow: row nowrap;
        gap: 2rem;
        
        h3 {
            margin-top: 2rem;
            margin-bottom: 1rem;
            text-align: left;
        }

        p {
            flex-grow: 0.5;
        }

        img {
            flex-grow: 1;
            width: 380px;
            height: 100%;
        }
    }
}