.textAndImageWrapper {
    // background-color: #aaa;
    
    .textAndImage {
        margin: 0 auto;
        margin-bottom: 48px;
        padding: 0 3%;
        max-width: 896px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 2rem;

        @include sizeTablet {
            flex-flow: row nowrap;
        }

        @include sizeDesktop {
            padding: 0;
        }
        
        h3 {
            margin-top: 2rem;
            margin-bottom: 1rem;
            text-align: left;
        }

        p {
            flex-grow: 0.5;
        }

        img {
            flex-grow: 1;
            width: 380px;
            height: 100%;
        }
    }
}