.textAndImageWrapper {
    // background-color: #aaa;
    
    .textAndImage {
        margin: 0 auto;
        margin-bottom: 80px;
        max-width: 896px;
        display: flex;
        flex-flow: row nowrap;

        h2 {
            margin-top: 2rem;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }
}