.aboutMe {
    padding: 4rem 1rem 0rem 1rem;

    p {
        margin: 0 auto;
        max-width: 800px;
        text-align: justify;
    }
}

.skills {
    padding: 3rem 1rem 4rem 1rem;

    .skillsList {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        max-width: 1200px;
        margin: auto;
        gap: 1rem;

        @include sizeDesktop {
            gap: 2rem;
        }

        li {
            width: 120px;
            display: flex;
            flex-flow: row wrap;
            align-items: flex-end;
            justify-content: center;
            list-style-type: none;
            gap: 0.5rem;
            padding: 0.75rem 0.25rem;   
            
            @include sizeDesktop {
                padding: 0 0.25rem;
            }
            
            p {
                display: flex;
                justify-content: center;
                font-size: 3rem;
                
                img {
                    border-radius: 0.5rem;
                }
            }

            .name {
                font-size: 0.6rem;
                align-self: flex-end;
            }
        }
    }
}

.projectsWrapper {
    padding: 4rem 1rem;
    background-color: $color-bg-lighter;

    .projects {
    
        .projectItems {
            display: block;            

            .singleProject {
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                margin-bottom: 4rem;

                .imageDescriptionWrapper {
                    padding-bottom: 1rem;

                    .imageContainer {
                        position: relative;
                        overflow: hidden;
                        max-height: 300px;
                        
                        img {
                            display: block;
                        }
                        
                        .titleContainer {
                            box-sizing: border-box;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            color: $color-main-light;
                            background-color: $color-bg-dark-transparent;
                            padding: 1rem;
                        }
                    }
                    
                    p {
                        padding: 1rem 0 0.5rem 0;
                    }   
                }

                .stack {
                    padding-bottom: 1rem;
                    color: $color-secondary-dark;
                    font-size: 0.9rem;
                }
                
                div {
                    display: flex;
                    flex-flow: column nowrap;

                    .customButton {
                        align-self: center;
                        width: 100%;
                        font-size: 1rem;
                        padding: 0.5rem 0;
                    };
                }

            }
    
            @include sizeTablet {
                margin: 0 auto;
                max-width: 800px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 2rem;
            }
    
            @include sizeDesktop {
                max-width: 1200px;
                grid-template-columns: 1fr 1fr 1fr;

                img {
                justify-self: right;
                }
            }
        }
    }
}

.contact {
    padding: 4rem 0;
    background-color: $color-bg-dark;
}