section {
    padding: 3rem 0;
}

.aboutMe {
    padding: 3rem 0;

    p {
        margin: 0 auto;
        max-width: 800px;
    }
}


.projectsWrapper {
    background-color: $color-bg-lighter;

    .projects {
    
        .projectItems {
    
            @include sizeTablet {
                margin: 0 auto;
                max-width: 800px;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 1rem;
    
                .singleProject {
    
                    .imageContainer {
                        position: relative;
                        
                        img {
                            display: block;
                        }
                        
                        .titleContainer {
                            box-sizing: border-box;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            color: $color-main-light;
                            background-color: $color-bg-dark-transparent;
                            padding: 1rem;
                        }
                
                    }
                }
            }
    
            @include sizeDesktop {
                max-width: 1200px;
    
                //change place!
                img {
                justify-self: right;
                }
            }
        }
    }
}