header {
    padding: 0;
    width: 100%;
    margin: 0;
    background-size: cover;
    background-position-y: calc(50%) ;
    background-image: url(../Pictures/PXL_20220829_162705195.PANO.jpg);
    background-color: $color-bg-dark;
    background-blend-mode: soft-light;

    .navMenuWrapper {
        position: fixed;
        background-color: $color-bg-dark-transparent;
        width: 100%;
        margin: 0;
        height: 3.5rem;
        border-bottom: 1px solid $color-bg-dark;

        .navMenus {
            margin: 1rem 2%;
            padding: 0 1rem;
            border-radius: 8px;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            column-gap: 6rem;

            @include sizeDesktop {
                justify-content: space-between;
                max-width: 1200px;
                margin: auto;
            }

            .headerMenu {
                ul {
                    display: flex;
                    flex-flow: row nowrap;
                    gap: 2rem;
                    padding: 0;
                    margin: 1rem 0;

                    li {
                        //change place?
                        font-size: 0.75rem;

                        list-style: none;

                        @include sizeTablet {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }

    .home {
        text-align: center;
        padding: 14rem 0 10rem 0;

        h1 {
            color: $color-main-light;
        }

        h2 {
            margin-top: 1rem;
            color: $color-secondary-light;
        }
    }
}