.projectPage {



    .projectHeaderWrapper {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .projectHeader  {
        padding-top: 6rem;
        padding-bottom: 2rem;
        margin: auto;
        max-width: 1200px;

        h1 {
            text-align: center;
            margin: 3rem auto 2rem auto;
        }
    
        h2 {
            text-align: center;
            margin: 2rem auto;
            padding: 0;
        }
    }

    .links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        max-width: 1200px;
        margin: auto;
        padding: 2rem 0;
    }

    
    .projectContent {
        margin: auto;
        max-width: 896px;

        h2 {
            margin: 4rem 0 2.5rem 0;
            padding: 0;
        }

        h3 {
            margin: 2.5rem 0 0 0;
            // padding: 0 0 1.5rem 0;
            text-align: center;
        }

        
        .techStack {
            .techStackList {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                max-width: 896px;
                margin: auto;
                gap: 1rem;
        
                @include sizeDesktop {
                    gap: 2rem;
                }
        
                li {
                    width: 120px;
                    display: flex;
                    flex-flow: row wrap;
                    align-items: flex-end;
                    justify-content: center;
                    list-style-type: none;
                    gap: 0.5rem;
                    
                    
                    @include sizeDesktop {
                        
                    }
                    
                    p {
                        display: flex;
                        justify-content: center;
                        font-size: 3rem;
                        
                        img {
                            border-radius: 0.5rem;
                        }
                    }
        
                    .name {
                        font-size: 0.6rem;
                        align-self: flex-end;
                    }
                }
            }
        }

        .projectTextImage {
            margin: 0 auto 5rem auto;
            max-width: 896px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2.5rem;
            justify-content: center;
            align-items: center;
            text-align: justify;
        }

        .video {
            margin: 3rem auto 2rem;

            * {
                width: 100%;
            }
        }

        p {
            margin: 0 0 1.5rem 0;
            max-width: 896px;
        }

        img {
            margin: 0 auto;
        }
    }

    

    .projectGallery {
        h2 {
            padding: 2rem 0 1rem 0;
            grid-column: -1 / 1;
        }
        .projectGalleryGrid {
    
    
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1rem;
            margin: auto;
            max-width: 1200px;
            align-items: center;
            justify-content: center;
            margin-bottom: 6rem;
    
            img {
                transition: scale 0.5s;
                border-radius: 1rem;
                transition: scale 0.5s, filter 0.5s;
                filter: brightness(0.8);
            }
    
            img:hover {
                scale: 1.01;
                transition: scale 0.5s, filter 0.5s;
                filter: brightness(1);
            }
    
            * {
                margin: auto;
                text-align: center;
                max-width: 400px;
            }
        }
    }


    .expandedGallery {
        top: 0;
        left: 0;
        margin: auto;
        padding-top: 4rem;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.75);

        img {
            z-index: 10;
            display: block;
            padding: 2rem 5rem 0 5rem;
            margin: auto;
            max-height: 75vh;
        }

        .description {
            color: white;
            margin: 0.5rem auto;
            width: fit-content;
            padding: 1rem 2rem;
            border-radius: 1rem;
            background-color: rgba(0,0,0,0.9);
        }
    }
}